HALibrary/build/intermediates/library_manifest/debug/AndroidManifest.xml
HALibrary/build/intermediates/merged_manifests/debug/output.json
HALibrary/build/intermediates/packaged-classes/debug/classes.jar
HALibrary/build/intermediates/packaged_res/debug/values/values.xml
HALibrary/build/intermediates/res/symbol-table-with-package/debug/package-aware-r.txt
HALibrary/build/intermediates/symbols/debug/R.txt
HALibrary/build/intermediates/transforms/mergeJavaRes/debug/0.jar
HALibrary/build/intermediates/transforms/mergeJavaRes/debug/__content__.json
HALibrary/build/intermediates/transforms/mergeJniLibs/debug/__content__.json
HALibrary/build/outputs/aar/HALibrary.aar
HALibrary/build/outputs/logs/manifest-merger-debug-report.txt
