<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bsmart.technology.rru">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />


    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAhWiSlGDAR8juuerHDrgGmu1uR6MJskcY" />

        <activity android:name=".pages.HAActivity" />
        <activity
            android:name=".pages.LoginActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="83b2d573bf45b026afa7f27bce65b4466cdc8b8f" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service android:name=".service.CheckCaseService"/>


        <service
            android:name=".service.ScheduleService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name=".base.utils.notification.AlarmReceiver"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.andrewlu.cn.ticker"></action>
                <category android:name="android.intentcategory.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".base.utils.download.DownloadReceiver">
        <intent-filter>
        <action android:name="android.intent.action.DOWNLOAD_COMPLETE"></action>
        </intent-filter>
        </receiver>

        <!-- 配置APP ID -->
        <meta-data
            android:name="BUGLY_APPID"
            android:value="1ed2a25afd" />
        <!-- 配置APP版本号 -->
        <meta-data
            android:name="BUGLY_APP_VERSION"
            android:value="1.0" />
        <!-- 配置APP渠道号 -->
        <meta-data
            android:name="BUGLY_APP_CHANNEL"
            android:value="Andrewlu" />
        <!-- 配置Bugly调试模式（true或者false）-->
        <meta-data
            android:name="BUGLY_ENABLE_DEBUG"
            android:value="false" />
        <meta-data
            android:name="ClientType"
            android:value="HA" />
    </application>

</manifest>